<label for="Date">Date:</label>
<input
  type="date"
  name="Date"
  id="Date"
  class="text_box"
  placeholder="Please Enter the Desired Date!"
/>

<label for="Sir_name">Sir Name:</label>
<input
  type="text"
  name="Sir_name"
  id="Sir_name"
  class="text_box"
  placeholder="Please Enter the Sir Name!"
/>

<label for="Party_name">Party Name:</label>
<input
  type="text"
  name="Party_name"
  id="Party_name"
  class="text_box"
  placeholder="Please Enter the Party Name!"
/>

<label for="Truck_number">Truck Number:</label>
<input
  type="text"
  name="Truck_number"
  id="Truck_number"
  class="text_box"
  placeholder="Please Enter the Truck number!"
/>

<label for="Drop_location">To:</label>
<input
  type="text"
  name="Drop_location"
  id="Drop_location"
  class="text_box"
  placeholder="Please Enter the Drop Location!"
/>

<label for="Pickup_location">From:</label>
<input
  type="text"
  name="Pickup_location"
  id="Pickup_location"
  placeholder="Please Enter the Pickup Location"
/>

<label for="Fixed_rate">Fixed Rate:</label>
<input
  type="text"
  name="Fixed_rate"
  id="Fixed_rate"
  class="text_box"
  placeholder="Please Enter the Fixed Rate!"
/>

<label for="Advance_wage">Advance Wage:</label>
<input
  type="number"
  name="Advance_wage"
  id="Advance_wage"
  class="text_box"
  placeholder="Please Enter the Advance Wage!"
/>

<label for="Load">Load:</label>
<input
  type="text"
  name="Load"
  id="Load"
  class="text_box"
  placeholder="Please Enter the Load!"
/>

<label for="Payment_location">Balance:</label>
<input
  type="text"
  name="Payment_location"
  id="Payment_location"
  class="text_box"
  placeholder="Please Enter the Payment Location!"
/>

<label for="Remarks">Remarks:</label>
<input
  type="text"
  name="Remarks"
  id="Remarks"
  class="text_box"
  placeholder="Please Enter the Remarks!"
/>

<label for="Unloading_point">Unloading Point:</label>
<input
  type="text"
  name="Unloading_point"
  id="Unloading_point"
  class="text_box"
  placeholder="Please Enter the Unloading Point!"
/>

<button type="submit" id="generate_btn">Generate document</button>
