<label for="Memo_number">Memo Number:</label>
<input
  type="number"
  name="Memo_number"
  id="Memo_number"
  class="text_box"
  placeholder="Please Enter the Memo Number!"
/>

<label for="Truck_number">Truck Number:</label>
<input
  type="text"
  name="Truck_number"
  id="Truck_number"
  class="text_box"
  placeholder="Please Enter the Truck number!"
/>

<label for="Inserted_date">Date:</label>
<input
  type="date"
  name="Inserted_date"
  id="Inserted_date"
  class="text_box"
  placeholder="Please Enter the Desired Date!"
/>

<label for="Pickup_location">Pickup Location:</label>
<input
  type="text"
  name="Pickup_location"
  id="Pickup_location"
  class="text_box"
  placeholder="Please Enter the Pickup Location!"
/>

<label for="Driver_name">Driver Name:</label>
<input
  type="text"
  name="Driver_name"
  id="Driver_name"
  class="text_box"
  placeholder="Please Enter the Driver Name!"
/>

<label for="Drop_location">Drop Location:</label>
<input
  type="text"
  name="Drop_location"
  id="Drop_location"
  class="text_box"
  placeholder="Please Enter the Drop Location!"
/>

<label for="Owner_address">Owner Address</label>
<input
  type="text"
  name="Owner_address"
  id="Owner_address"
  class="text_box"
  placeholder="Please Enter the Truck Owner Address!"
/>

<label for="Owner_name">Owner Name</label>
<input
  type="text"
  name="Owner_name"
  id="Owner_name"
  class="text_box"
  placeholder="Please Enter the Truck Owner Name!"
/>

<label for="Owner_number">Owner Number:</label>
<input
  type="tel"
  name="Owner_number"
  id="Owner_number"
  class="text_box"
  placeholder="Please Enter the Owner Number!"
/>

<label for="Consignor">Consignor:</label>
<input
  type="text"
  name="Consignor"
  id="Consignor"
  class="text_box"
  placeholder="Please Enter the Consignor!"
/>

<label for="Consignee">Consignee:</label>
<input
  type="text"
  name="Consignee"
  id="Consignee"
  class="text_box"
  placeholder="Please Enter the Consignee!"
/>

<label for="Particulars">Particulars:</label>
<input
  type="text"
  name="Particulars"
  id="Particulars"
  class="text_box"
  placeholder="Please Enter the Particulars!"
/>

<label for="Weight">Weight:</label>
<input
  type="text"
  name="Weight"
  id="Weight"
  class="text_box"
  placeholder="Please Enter the Weight!"
/>

<label for="Total_collection">Total Collection:</label>
<input
  type="number"
  name="Total_collection"
  id="Total_collection"
  class="text_box"
  placeholder="Please Enter the Total Collection!"
/>

<label for="Height_charge">Height Freight Fix:</label>
<input
  type="number"
  name="Height_charge"
  id="Height_charge"
  class="text_box"
  placeholder="Please Enter the Height Charge!"
/>

<label for="Height_freight">Extra Freight:</label>
<input
  type="number"
  name="Height_freight"
  id="Height_freight"
  class="text_box"
  placeholder="Please Enter the Height Freight!"
/>

<label for="Workout">Per Ton Workout Rs:</label>
<input
  type="number"
  name="Workout"
  id="Workout"
  class="text_box"
  placeholder="Please Enter the Per Ton Workout Rs!"
/>

<label for="Advance">Advance Rs:</label>
<input
  type="number"
  name="Advance"
  id="Advance"
  class="text_box"
  placeholder="Please Enter the Advance Rs!"
/>

<label for="Payment_location">Payment Location:</label>
<input
  type="text"
  name="Payment_location"
  id="Payment_location"
  class="text_box"
  placeholder="Please Enter the Payment Location!"
/>

<label for="Remarks">Remarks:</label>
<textarea name="Remarks" id="Remarks" cols="30" rows="10"></textarea>

<label for="Commission">Commission:</label>
<input
  type="number"
  name="Commission"
  id="Commission"
  class="text_box"
  placeholder="Please Enter the Commission!"
/>

<label for="Tapal">Hamali & Tapal:</label>
<input
  type="number"
  name="Tapal"
  id="Tapal"
  class="text_box"
  placeholder="Please Enter the Tapal Amount!"
/>

<label for="Weight_wage">Weight Wage:</label>
<input
  type="number"
  name="Weight_wage"
  id="Weight_wage"
  class="text_box"
  placeholder="Please Enter the Weight Wage!"
/>

<label for="Guide_rupees">Guide / L Drive:</label>
<input
  type="number"
  name="Guide_rupees"
  id="Guide_rupees"
  class="text_box"
  placeholder="Please Enter the Guide Wage!"
/>

<label for="Other_expenses">Other charges:</label>
<input
  type="number"
  name="Other_expenses"
  id="Other_expenses"
  class="text_box"
  placeholder="Please Enter Other charges!"
/>

<button type="submit" id="generate_btn">Generate document</button>
